.index--body{
  margin-top: -1vh;
  margin-left: -1vw;
  height: 101vh;
  width: 101vw;
  background-color: #292a2c;
}
.form--input{
  width: 70%;
  margin-top: 20px;
  margin-bottom: 1%;
  margin-right: 2%;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3%;
}
.form--button{
  width: 400px;
  height: 35px;
}
.result{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form--error{
  color: white;
}